.products-container{
    margin-top: 2rem;
}
.sec-heading{
    margin-left: 5rem;
    font-family: 'Baron Neue';
    color: #241d52;
    font-size: larger;
    margin-bottom: 2rem;
    position: relative;
}
.product-line{
    
}

.single-products{
    width: 80%;
    margin: 0% auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}