.product-body{
    
    height: 20rem;
    width: 6rem;
    min-width: 14rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative;
    background-image: linear-gradient(to bottom right, rgba(237, 173, 228, 0.37), #eae2e285);
    border-radius: 10px;
    margin: auto 0px;
}

.thembmail-cantainer{
    width: 10rem;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.img-container{
    position: absolute;
    top: 0.5rem;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    width: 9rem;
    height: 15rem;
}
.thembmail{
    cursor: pointer;
    width: 80% ;
    height: 100%;
    object-fit: contain;
}
.thembmail:hover{
    width: 100% ;
}
.product-discription{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.product-discription div:nth-child(1){
    width: 11.5rem;
    height: 2rem;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    color: #241d52;
    white-space: nowrap; 
    overflow: hidden;
  text-overflow: clip;

}
.product-discription div:nth-child(2){
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    color: #241d52b4;
    text-align: center;

}



